<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rectangle Checker</title>
  </head>
  <body>
    <h1>Rectangle Checker</h1>
    <form action="/Rectangle/Result">
      <label for="side-length">Length:</label>
      <input id="side-length" name="side-length" type="text">
      <label for="side-width">Width:</label>
      <input id="side-width" name="side-width" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
