<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the rectangle checker!</title>
  </head>
  <body>
    <p><a href="/Rectangles/CreateForm">Make a rectangle.</a></p>
  </body>
</html>
